:root {
    --bar-border-with: 5px;
    --bar-border-color: #555;
    --bar-border-radius: 30px;
    --bar-padding-vertical: 20px;
    --bar-padding-horizontal: 30px;
    --bar-gap: 10px;

    --player-bottom-distance: 0px;
    --player-right-distance: 0px;
    --player-width: 60vw;
}

body {
    font-family: system-ui;
}

#player {
    position: fixed;
    bottom: var(--player-bottom-distance);
    right: var(--player-right-distance);
    width: var(--player-width);
    display: flex;
    align-items: stretch;
    gap: 0 var(--bar-gap);
}

@property --stat-bar-remain {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

#player>.stat {
    position: relative;
    --background-color: #000000;
    --stat-bar-remain: 100%;

    font-weight: 700;
    flex-grow: 1;
    padding: var(--bar-padding-vertical) var(--bar-padding-horizontal);
    border: var(--bar-border-with) solid var(--bar-border-color);
    border-radius: var(--bar-border-radius);
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 3px #000;
    /* background-color: var(--background-color); */

    background: linear-gradient(90deg,
            var(--background-color) 0%,
            var(--background-color) var(--stat-bar-remain),
            transparent calc(var(--stat-bar-remain) + 1px),
            transparent 100%);
    transition: --stat-bar-remain 0.2s ease-out 0s;
}

#player>.stat>span {
    display: block;
}

#player>.stat>span.val {
    font-size: 1.3em;
}

#player>.stat>.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--bar-border-radius) - var(--bar-border-with));
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.2) 0%,
            transparent 100%);
}